name: Train Model

on:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:

jobs:
  model-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Train model
        uses: ./.github/actions/train_model
        with:
          API_KEY: ${{ secrets.API_KEY }}